<div class='col-md-8 col-xs-12 col-sm-12 col-md-offset-2'>
    <h2> Sign Up </h2>
    <%= form_for @user do |form| %>
        <%= render partial: 'form', object: form %>
        <div class"action">
            <%= form.submit "Update My Information"%>
        </div>
    <% end %>
</div>
